:root {
  --pink: #c93b76;
  --black: #212936;
  --black-gray: #4d5562;
  --white: #e5e7eb;
  --white-gray: #e5e7eb;
}
.main {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: red;
  background-image: url("./resources/gradient-bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}

#player {
  width: 300px;
  height: fit-content;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
}
#cover {
  width: 100%;
}
#cover-img {
  width: 100%;
  border-radius: 25px;
}
#title {
  color: var(--white-gray);
  font-size: 1.5em;
  margin-top: 10px;
}
#artist {
  color: var(--black-gray);
  margin-top: 10px;
}
#time {
  width: 100%;
  display: flex;
  color: var(--black-gray);
  justify-content: space-between;
  padding: auto 20px;
  font-size: 0.9em;
}
#progress {
  width: 100%;
  height: fit-content;
  margin-top: 10px auto;
}
#progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 50%;
}

input[type="range"] {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  top: -16px;
  opacity: 0;
}

::-webkit-progress-value {
  background-color: var(--pink);
}
#controll-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  margin-top: 25px;
}
#controll-btns > button {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--black);
}
#controll-btns > button:hover {
  /* outline: 1px solid #4d5562; */
  box-shadow: 0 0 2px 1px #4d5562;
  transition: 0.2s;
}
#play-stop-btn-svg {
  background-color: var(--pink);
  width: 4rem;
  border-radius: 50%;
}
